Package: irqbalance
Version: 1:1.9.2-1+cix
Architecture: arm64
Maintainer: Paride Legovini <paride@debian.org>
Installed-Size: 254
Pre-Depends: init-system-helpers (>= 1.54~)
Depends: runit-helper (>= 2.14.0~), libc6 (>= 2.34), libcap-ng0 (>= 0.7.9), libglib2.0-0 (>= 2.35.8), libncursesw6 (>= 6), libnuma1 (>= 2.0.11), libsystemd0, libtinfo6 (>= 6)
Conflicts: runit (<< 2.1.2-51~)
Breaks: runit (<< 2.1.2-51~)
Provides: irqbalance (= 1.9.2-1)
Section: utils
Priority: optional
Homepage: https://github.com/Irqbalance/irqbalance
Description: Daemon to balance interrupts for SMP systems
 Daemon to balance interrupts across multiple CPUs, which can lead to better
 performance and IO balance on SMP systems. This package is especially useful
 on systems with multi-core processors, as interrupts will typically only be
 serviced by the first core.
 .
 Note: irqbalance is not useful if you don't have more than one CPU core.
