Package: firmware-misc-nonfree
Version: 20250808-89-g9a0e2b1b
Architecture: all
Maintainer: Linux Firmware <linux-firmware@kernel.org>
Installed-Size: 1669517
Section: unknown
Priority: optional
Homepage: https://gitlab.com/kernel-firmware/linux-firmware
Description: Upstream snapshot of linux-firmware package
 Monolithic snapshot of upstream linux-firmware package, intended to
 to validate upstream firmware without conflicts to the distribution
 package.
