Package: budgie-control-center-data
Source: budgie-control-center
Version: 1.2.0-1
Architecture: all
Maintainer: David Mohammed <fossfreedom@ubuntu.com>
Installed-Size: 12605
Depends: dconf-gsettings-backend | gsettings-backend
Section: misc
Priority: optional
Multi-Arch: foreign
Homepage: https://github.com/buddiesofbudgie/budgie-control-center
Description: configuration applets for Budgie - data files
 This package contains data files (icons, pixmaps, locales files) needed by
 the configuration applets in the budgie-control-center package.
 .
 This is a fork of gnome-control-center at v41 with gnome-shell
 specifics removed together with configuration specific to the
 budgie-desktop.
